.container{
  margin: 0 auto;
  width: 80%;
  .form-container{
    margin: 100px 0;
    .form-wrapper{
      margin: 0 auto;
      text-align: center;
      .err{
        color: red;
        border-color: red;
      }
      .form{
        h2{
          font-size: 18px;
        }
        input{
          font-size: 22px;
          margin: 10px 0;

        }
      }
      .submit-button{
        position: relative;
        left: 70px;
      }
    }
  }
}
