$font-color_default: #777;
$font-color_date: #e37b89; // TODO:リファクタ必要
$color_corp: #e3a8b1;
$font-color_sub1: #b6a489;

$site-width: 980px;
$container-width: 960px;

$font-size_s: 12px;
$font-size_m: 14px;
$font-size_default: 16px;
$font-size_l: 18px;
$font-size_xl: 24px;
$font-size_xxl: 30px;
$font-size_3l: 38px;
$font-size_4l: 46px;

$space_s: 5px;
$space_m: 10px;
$space_l: 15px;
$space_xl: 20px;
$space_xxl: 30px;
$space_3l: 40px;

$font-family_corp: 'Amatic SC', cursive;

.thread-body{
  background-image:url('../image/brick.jpg');
  .thread{
    background: white;
    border: black 1px solid;
    margin: $space_l auto;
    width: 90%;
    h1{
      font-size: $font-size_xl;
    }
    .thread-table{
      margin: $space_m;
      .comment-wrapper{
        margin-bottom: $space_xl;
        .thread-number{
          display: flex;
        }
        .name-wrapper{
          margin-bottom: $space_s;
        }
        .comment-box{
          margin-left: 20px;
        }
      }
    }
    .post-wrapper{
      margin-top: $space_m;
      .name-post-wrapper{
        margin-bottom: 1px;
        display: block;
      }
    }
  }
}
